!.env.example
!.env.test
.cache
.cache
.cache/
.docusaurus
.DS_Store
.dynamodb/
.env
.env
.env.*
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vercel
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
/build
bower_components
build/Release
combined.txt
coverage
debug/
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Thumbs.db
update.sh
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
yarn-debug.log*
yarn-error.log*
.svelte-kit
